<div class="bg-image" id="bg-image3"></div>

<div class="bg-text mt-5" id="bg-text2">
    <div class="row">
        <div class="col-md-4">
            <h1>Dash board</h1>
            <% if current_user.picture? %>
                <%=image_tag current_user.picture.url, class:"img-size rounded-circle"%>
            <% end %>
            <h2 class="card-title text-center"><%= current_user.name %></h2>
            <div class="card-body">
                <hr>
                <div class>
                    <div class="text-center">
                        <p>Learned 10 words</p>
                    </div>
                    <div class="text-center">
                        <p>Learned 2 lessones</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 text-center">
            <h1 m-2>All ACTIVITIES</h1>
        </div>
    </div>
        
</div>