<div class="bg-image"id="bg-image_edit"></div>
<div class="bg-text" id="edit_position">
    <div class="col-sm-6 mx-auto">
        <h1 class="text-center">Edit</h1>
        <div class="border-top p-3"></div>
        <%= render "form","btn_msg":"Edit account" %>
        <%# btn_msgには、Edit accountを表示する というコード %>
    </div>
</div>