<div class="font1">
    <h2 class="container">category title</h2>
    <h2 class="container text-right">2 of 5</h2>
    <div class="bg-text">
        <div class="col-sm-6 mx-auto">
            <h1 class="text-center">word title</h1>
            <%= link_to "word1","#", class: 'btn btn-info' %>
            <%= link_to "word2","#", class: 'btn btn-info' %>
            <%= link_to "word3","#", class: 'btn btn-info' %>
        </div>
    </div>
</div>