<div class="bg-image"id="bg-image_edit"></div>
<div class="bg-text">
    <h1><%= @category.title %></h1>
    <div class="col-sm-6 mx-auto">
        <h1 class="text-center">Result</h1>
        <div class="border-top p-3"></div>
        <h1 class="text-center">3/5</h1>
        <table class="ml-auto mr-auto text-white" border="1" bordercolor="white">
            <thead>
                <tr>
                    <th  class="text-center p-2 text-white"><b>Word</b></th>
                    <th  class="text-center p-2 text-white"><b>Answer</b></th>
                    <th  class="text-center p-2 text-white"><b>Correct</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-1 text-white">false</td>
                    <td class="p-1 text-white">false</td>
                    <td class="p-1 text-white">true</td>
                </tr>
            </tbody>
        </table>			
    </div>
</div>
