<div class="jumbotron text-center pt-2" id="jumbotron2">
    <div class="container p-4">
        <h1 class="jumbotron-heading p-5">Administration</h1>
        <%= link_to "Categories", "#", class:"btn btn-secondary my-2" %>
        <p class="lead text-muted">You can change the categories, desc-riptions, words, answers and choices.</p>
        <%= link_to "Users", admin_users_path, class:"btn btn-secondary my-2" %>
        <p class="lead text-muted">You can add or remove the administ-ration to users.</p>
        <%= link_to "Back", current_user, class:"btn btn-light my-2" %>
    </div>
</div>