<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
            <a href="https://www.facebook.com/kentaro.miyasaka.9">Contact creater</a>
        </span>
    </nav>

</footer>
<!-- Footer -->